<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
    PYTHON
    SQL
    R

Some of the commonly used libraries used by Data Scientists include:
1) NUMPY
2) PANDAS
3) MATPLOTLIB
4) GGPLOT

Data Science Tools
Python
Git
Jupyter Notebook
Cloud
R
SQL

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
x = 40
y = 12
  
add = x + y
sub = x - y
pro = x * y
div = x / y
  
print(add)
print(sub)
print(pro)
print(div)

52
28
480
3.3333333333333335

In [2]:
 # This a simple arithmetic expression to mutiply then add integers
    
x= 3
y= 4
z= 5

S = (x*y)+z

print(S)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.

X = 200
y = 60

Hours =(X/y)
print(Hours)

3.3333333333333335

Objectives:
    
1) Getting to know about Data Science
2) Learning about Python, R , SQL
3) Knowing libraries
4) Working on different environments

List popular languages for Data Science

-> Python
-> R
-> SQL

Author
Niharika Singh